<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= number_to_currency(producto.precio) %></td>
        <td><%= producto.stock %></td>
        <td><%= link_to 'Show', producto, { :class=>"btn btn-primary btn-sm" } %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto), { :class=>"btn btn-warning btn-sm" } %></td>
        <td><%= button_to 'Destroy', producto, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Estás seguro?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
