<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>

  <h3>Producto</h3>
  <!-- http://apidock.com/rails/ActionView/Helpers/FormHelper/fields_for -->

  <%= f.fields_for :producto do |producto_fields| %>
    <div class="field">
      <%= producto_fields.label :nombre %><br>
      <%= producto_fields.text_field :nombre %>
    </div>

    <div class="field">
      <%= producto_fields.label :total %><br>
      <%= producto_fields.label "$ 000000" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
